<div class="card border-primary mb-3">
    <div class="card-header">Users</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de usuarios</h5>
      
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" 
        *ngIf="role!='USER'" [routerLink]="['/users/form']">Crear usuario</button>
      </div>

      <div *ngIf="users?.length==0" class="alert alert-info">
        No hay registros en la base de datos
      </div>

      <table class="table table-bordered table-striped" *ngIf="users?.length">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Nick</th>
                <th *ngIf="role!='USER'">
                  Editar
                </th>
                <th *ngIf="role!='USER'">
                  Eliminar
                </th>
            </tr>
        </thead>
       <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.nombre | uppercase}}</td>
                <td>{{user.nick | uppercase}}</td>
                <td *ngIf="role!='USER'">
                  <button type="button" name="editar" [routerLink]="['/users/form', user.id]"
                  [disabled]="role=='USER'" class="btn btn-primary btn-sm">Editar</button>
                </td>

                <td *ngIf="role!='USER'">
                  <button type="button" name="eliminar" (click)="delete(user)" 
                  class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
       </tbody>
      </table>
      <paginator-nav *ngIf="paginador" [paginador] = "paginador"></paginator-nav>
    </div>
  </div>